{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-3 col-lg-3"></div>
        <div class="col-12 col-md-6 col-lg-6">
            {% include 'logo.html' %}
            <div class="form">
                <form method="get">
                    <div class="d-flex justify-content-center">
                        <div class="flex-grow-1 search___container">
                            <input type="text" oninput="showSuggestions(this.value)" class="form-control" name="search_query" placeholder="Type to search" id="search-input">
                            <div id="suggestions-container" class="mt-3"></div>
                        </div>
                        <div>
                            <select class="form-select" name="find">
                                <option value="videos">Video</option>
                                <option value="playlist">Playlist</option>
                            </select>
                        </div>
                        <div><button type="submit" class="btn btn-danger"><i class="bi bi-search"></i></button></div>
                    </div>
                </form>
            </div>
            <div class="mt-3">
                {% include 'includes/alerts.html' %}
            </div>
        </div>
        <div class="col-12 col-md-3 col-lg-3">
            <div class="user___details col-lg-6 offset-lg-5" style="margin-top: 30px;"><a href="{% url 'logout' %}" class="btn btn-danger">Logout</a></div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="col-12 col-lg-12 col-md-12">
        {% if option_selected == 'videos' %}
        <div class="videos___content">
            <div class="video__loading_time"><p>About {{length}} videos found (in {{time}} seconds)</p></div>
            <div class="videos___details">
                <div class="row">
                    {% for video in videos %}
                    {% if video %}
                    <div class="col-12 col-md-6 col-lg-6 mb-4">
                        <div class="row d-flex">
                            <div class="col-12 col-lg-5 col-md-5">
                                <div class="video___thumbnail">
                                    <a href="watch?video_id={{video.id}}" rel="noopener noreferrer">
                                        {% if video.thumbnails.1.url %}
                                        <img src="{{video.thumbnails.1.url}}" alt="{{video.title}}" class="w-100 main___img">
                                        {% else %}
                                        <img src="{{video.thumbnails.0.url}}" alt="{{video.title}}" class="w-100 main___img">
                                        {% endif %}
                                        {% if video.richThumbnail.url %}
                                        <img src="{{video.richThumbnail.url}}" alt="{{video.title}}" class="w-100 overlay___gif">
                                        {% endif %}
                                    </a>
                                    <div class="overlay___text"><span>{{video.duration}}</span></div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-7 col-md-7">
                                <h2 class="my-2">{{video.title}}</h2>
                                <div class="d-flex video___channel mb-3">
                                    <div class="me-2">{{video.channel.name}}</div>
                                    <div class="me-2">•</div>
                                    <div class="me-2">{{video.viewCount.short}}</div>
                                    <div class="me-2">•</div>
                                    <div>{{video.publishedTime}}</div>
                                </div>
                                <div class="video___published__time">{% for desc in video.descriptionSnippet %}{{desc.text}}{% endfor %}</div>
                            </div>
                        </div>
                        <div class="hr___line" style="display: none;"></div>
                    </div>
                    {% endif %}
                    {% endfor %}

                    {% for video in next_videos %}
                    {% if video %}
                    <div class="col-12 col-md-6 col-lg-6 mb-4">
                        <div class="row d-flex">
                            <div class="col-12 col-lg-5 col-md-5">
                                <div class="video___thumbnail">
                                    <a href="watch?video_id={{video.id}}" rel="noopener noreferrer">
                                        {% if video.thumbnails.1.url %}
                                        <img src="{{video.thumbnails.1.url}}" alt="{{video.title}}" class="w-100 main___img">
                                        {% else %}
                                        <img src="{{video.thumbnails.0.url}}" alt="{{video.title}}" class="w-100 main___img">
                                        {% endif %}
                                        {% if video.richThumbnail.url %}
                                        <img src="{{video.richThumbnail.url}}" alt="{{video.title}}" class="w-100 overlay___gif">
                                        {% endif %}
                                    </a>
                                    <div class="overlay___text"><span>{{video.duration}}</span></div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-7 col-md-7">
                                <h2 class="my-2">{{video.title}}</h2>
                                <div class="d-flex video___channel mb-3">
                                    <div class="me-2">{{video.channel.name}}</div>
                                    <div class="me-2">•</div>
                                    <div class="me-2">{{video.viewCount.short}}</div>
                                    <div class="me-2">•</div>
                                    <div>{{video.publishedTime}}</div>
                                </div>
                                <div class="video___published__time">{% for desc in video.descriptionSnippet %}{{desc.text}}{% endfor %}</div>
                            </div>
                        </div>
                        <div class="hr___line" style="display: none;"></div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% elif option_selected == 'playlist' %}
        <div class="videos___content">
            <div class="video__loading_time"><p>About {{playlist_length}} playlists found (in {{time_playlist}} seconds)</p></div>
            <div class="videos___details">
                <div class="row">
                    {% for video in playlists %}
                    {% if video %}
                    <div class="col-12 col-md-6 col-lg-6 mb-4">
                        <div class="row d-flex">
                            <div class="col-12 col-lg-5 col-md-5">
                                <div class="video___thumbnail">
                                    <a href="playlist?list={{video.id}}" rel="noopener noreferrer">
                                        {% if video.thumbnails.1.url %}
                                        <img src="{{video.thumbnails.3.url}}" alt="{{video.title}}" class="w-100 main___img">
                                        {% else %}
                                        <img src="{{video.thumbnails.0.url}}" alt="{{video.title}}" class="w-100 main___img">
                                        {% endif %}
                                    </a>
                                    <div class="overlay___text"><span>Total {{video.videoCount}} videos</span></div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-7 col-md-7">
                                <h2 class="my-2">{{video.title}}</h2>
                                <div class="d-flex video___channel mb-3">
                                    <div class="me-2">{{video.channel.name}}</div>
                                    <div class="me-2">•</div>
                                    <div class="me-2">{{video.type}}</div>
                                </div>
                                <div class="video___published__time"></div>
                            </div>
                        </div>
                        <div class="hr___line" style="display: none;"></div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>

<script>
    function showSuggestions(query) {
      const suggestionsContainer = document.getElementById('suggestions-container');
      suggestionsContainer.innerHTML = '';
  
      // Replace this with your actual data fetching logic or static data
      const suggestions = getSuggestionsFromAPI(query);
  
      if (suggestions.length > 0) {
        suggestions.forEach(suggestion => {
          const suggestionElement = document.createElement('div');
          suggestionElement.classList.add('suggestion');
          suggestionElement.textContent = suggestion;
          suggestionElement.addEventListener('click', () => {
            // Handle suggestion click (e.g., populate search input with suggestion)
            document.getElementById('search-input').value = suggestion;
            suggestionsContainer.style.display = 'none';
          });
          suggestionsContainer.appendChild(suggestionElement);
        });
  
        suggestionsContainer.style.display = 'block';
      } else {
        suggestionsContainer.style.display = 'none';
      }
    }
  
    // Replace this function with actual API call or data source
    function getSuggestionsFromAPI(query) {
      // For demonstration, using static suggestions
      const staticSuggestions = [
            {% for suggestion in suggestions %}
                "{{suggestion}}" {% if not forloop.last %},{% endif %}
            {% endfor %}
        ];
        console.log(staticSuggestions);
      return staticSuggestions.filter(suggestion => suggestion.toLowerCase().includes(query.toLowerCase()));
    }
  </script>

{% endblock content %}